<div class="container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formCreateBook" >
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>SKU</mat-label>
            <input matInput formControlName="sku" >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>TÍTULO</mat-label>
            <input matInput formControlName="title" >
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>AUTOR</mat-label>
            <input matInput formControlName="author" >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>DESCRIPCIÓN</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>COMENTARIOS</mat-label>
            <input matInput formControlName="comments">
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="create()" >Guardar</button>
    </mat-card-actions>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="back()" >Regresar</button>
    </mat-card-actions>
  </mat-card>
</div>
